* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 222px;
  background-color: #535353;
  background-image: url("../kepek/fecjlec-hatter.png");
}

header span {
  display: block;
}

nav#navigation-main {
  height: 61px;
  background-color: #2E2E2E;
}

nav#navigation-main ul {
  height: inherit;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  gap: 30px;
}

nav#navigation-main ul li {
  height: inherit;
}

nav#navigation-main ul li a {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  background-color: #777;
  width: 200px;
}

nav#navigation-main ul li a:hover {
    background-color: #666;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

aside#left-aside {
    flex: 24.58%;
}

article {
    flex: 50.84%;
    min-height: 1000px;
}


aside#right-aside {
    flex: 24.58%;
}
.container{
  height: inherit;
  display: flex;
  flex-direction: column;
  background-color: #777;
  
  gap: 30px;
  color:white;
  margin: 20px;

}
fieldset{
  
  background-color: #666;
  padding: 10px;
  margin: 10px;
}
#submitbutton{
  padding: 3px;
  border-radius: 4px;
  border-color: red;
  
}
#szovegmezo{
  border-radius: 4px;
  border-color: red;
}



  
  

