* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Ghastly Panic";
  src: url(../betutipusok/Ghastly\ Panic.ttf);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 222px;
  background-color: #535353;
  background-image: url("../kepek/fecjlec-hatter.png");
  background-position: center;
  background-repeat: no-repeat;
}

#cimelso {
  font-family: "Ghastly Panic";
  font-size: 60px;
  display: block;
}

#cimmasodik {
  font-family: "Garamond", sans-serif;
}

nav#navigation-main {
  height: 61px;
  background-color: #2e2e2e;
}

nav#navigation-main ul {
  height: inherit;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  gap: 30px;
}

nav#navigation-main ul li {
  height: inherit;
}

nav#navigation-main ul li a {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  background-color: #777;
  width: 200px;
}

nav#navigation-main ul li a:hover {
  background-color: #666;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

aside#left-aside {
  flex: 24.58%;
  background-color: #444;
  color: #000;
}

aside#left-aside h2 {
  padding: 15px;
}
aside#left-aside ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style-type: none;
}

aside#left-aside ul li a {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  border: 2px solid #333

}
aside#left-aside ul li {
  height: inherit;
  background-color: #3D3D3D;
}
aside#left-aside ul li a:hover {
  background-color: #666;
}

article {
  flex: 50.84%;
  min-height: 1000px;
  background-color: #575757;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.comic-strip {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.comic-panel {
  max-width: 100%;
}

aside#right-aside {
  background-color: #444;
  flex: 24.58%;
  padding: 15px;
}

#uploader-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.uploader-avatar {
  border-radius: 50%;
  border: 10px solid #202020;
  width: 250px;
}

.uploader-name {
  font-size: 20px;
}

aside#right-aside {
  color: #000;
}

aside#right-aside ul {
  list-style-type: none;
}

aside#right-aside li {
  padding: 15px;
  font-weight: bold;
  border-bottom: 3px solid #999;
}
img {
  max-width: 1000px;
}
.container {
  display: flex;
  flex-direction: column;
  background-image: url(../kepek/bela-lugosi-drakula-768x576.jpg);
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
  color: white;
  margin: 20px;
}

fieldset {
  flex: 20%;

  background-color: #666;
  padding: 10px;
  margin: 10px;
}
#submitbutton {
  padding: 3px;
  border-radius: 4px;
  border-color: rgb(116, 22, 22);
  color: rgb(116, 22, 22);
}
#szovegmezo {
  border-radius: 4px;
  border-color: rgb(178, 39, 39);
}
footer {
  padding: 10px;

  text-align: center;
  color: rgb(192, 43, 43);
  background-color: #777;
}

@media only screen and (max-width: 800px) {
  nav#navigation-main {
    height: auto;

  }

  nav#navigation-main ul {
    flex-direction: column;
    align-items: center;
    gap: 0
  }

  nav#navigation-main ul li {
    width: 100%;
    margin-bottom: 5px
  }

  nav#navigation-main ul li:first-child {
    margin-top: 5px
  }

  nav#navigation-main ul li a {
    padding: 15px;
    width: inherit
  }

  .flex-row{
    flex-direction: column;
  }
  
}
  

